<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="https://myapp-muton.c9users.io/static_pages/contact">contact page</a>.
</p>
</p>